{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <!-- TODO: (milestone 3) Include the template for "login form" here...  -->

    {% if form %}
        <form action="" method="POST">

            {{form.hidden_tag()}}

            <p>{{ form.username.label}}</p>
            <p>{{ form.username(class = 'text in put') }}</p>

            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <p>{{form.password.label}}</p>
            <P>{{ form.password(class = 'text in put')}}</P>

            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <p>{{form.remember_me()}} {{form.remember_me.label}}</p>

            <p>New User?<a href="{{url_for ('auth.register')}}"> Click to Register! </a></p>

            <p>{{ form.submit(class='button')}}</P>

        </form>
        
    {% endif %}
{% endblock %}

